body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size:120%;
	background: #15202b;
	/*background: linear-gradient(172deg, rgb(48, 48, 48) 25%, rgb(67, 67, 67) 85%); */
	background-attachment:fixed;
	height:100%;
	color: #222 ;
}

/* Alternate bg-color
background: rgb(29,30,32);
*/

main {
	max-width: 1080px ;
	margin: auto ;
}

p {
	padding: 1em;
	line-height: 1.7em;
}

h1,h2,h3,h4,h5,h6 {
	padding: 1em;
}

figure {
	text-align: center;
}

figcaption {
	font-size: 0.8em;
	font-style: italic;
	text-align: center;
}

footer {
	text-align: center ;
	clear: both ;
}

figure.index-img img{
	max-height: 40vh;
}

.container {
	padding: 1em;
	background: #15202b;
	color: #eee;
	border: 4px solid rgb(190,190,190,0.7);
	border-radius: 3px;
	text-align: left;
}

.container img {
	max-width: 100%;
	text-align: center;
	max-height: 65vh;
	border: 1px solid #222;
	border-radius: 10px;
	box-shadow:1px 1px 8px #111;
}

.item4 {
	list-style-type: none;
}

.header {
	text-align: center;
}

.list-item{
	text-align: center;
	background-color: #333;
	box-shadow: 1px 1px 12px  #222;
	max-width: 35%;
	border-radius: 9px;
	padding: 0.6em;
	margin: 1em auto;
}

.list-item:hover{
	box-shadow: 1px 1px 10px  #111;
}

.links-page {
	text-align: center;
}

.links-page a{
	color: orange;
	padding: 0.7em;
	background-color: #333;
	border-radius: 10px;
	box-shadow: 1px 1px 5px  #222;
}

.links-page a:hover{
	box-shadow: 1px 1px 10px #111;
}

.links-page a:visited{
	color: orange;
}

.bookmark-list {
	text-align: center;
	padding: 0px;
}

.bookmark-list li {
	margin: 1em;
	list-style-type: none;
}

.bookmark-list a{
	padding: 0.6em;
	color: lightgreen;
	background-color: #333;
	border-radius: 10px;
	box-shadow: 1px 1px 5px  #222;
}

.bookmark-list a:hover{
	box-shadow: 1px 1px 10px  #111;
}

.bookmark-list a:visited {
	color: lightgreen;
}

/* For TAGLIST.HTML */

.taglist {
	text-align: center ;
	clear: both ;
}

.taglist a {
	display: inline-block;
	color: orange;
	padding:.5em;
	background-color: #333;
	margin: 0.3em ;
	border-radius: 10px;
	box-shadow: 1px 1px 5px  #222;
}

.taglist a:hover{
	box-shadow: 1px 1px 10px #111;
}

.list {
	list-style-type: none;
	padding: 0px;
}

.article {
	text-align: center;
}
/* Grid Styling */

.item1 { grid-area: header; }
.item2 { 
	grid-area: description;
	padding: 2em;		
}
.item3 { grid-area: picture; }
.item4 { 
	grid-area: list;
	padding-left: 0px;;
}


.grid-temp{
  display:grid;
	text-align: center;
  grid-template-areas:
    'header header'
    'description picture'
		'list picture';
  grid-template-columns: 2fr 1fr;
}

/* Link Styling */

a {
	text-decoration: none;
	color: #4af;
}

a li{
	color: orange;
	font-size: 18px;
	text-decoration: none;
}

a li:visited{
	color: orange;
}

header h1 a {
	text-align: center ;
}

.home-link {
	text-align: center;
}

.home-link a {
	color: #ddd;
	text-decoration: none;
}

.home-link a:visited{
	color: #ddd;
}

.home-link a:hover{
	color: #ccc;
}

.home-link-footer{
	text-align: center;
	font-weight: 500;
	font-size: 1.1em;
	background: #555;
	box-shadow: 0px 0px 8px  #222;
	border-radius: 10px;
	padding: 0.7em;
	text-decoration: none;
	color: orange;
}

.home-link-footer:hover{
	box-shadow: 0px 0px 12px #222;
}

#main-img{
	max-width: 100%;
}

/* For NEXTPREV.HTML */


#prevart {
	float: left ;
	text-align: left ;
	color: orange;
	padding: 0.6em;
	background-color: #333;
	box-shadow: 0px 0px 5px  #222;
	border-radius: 10px;
}

#nextart {
	float: right ;
	text-align: right ;
	color: orange;
	padding: 0.6em;
	background-color: #333;
	box-shadow: 0px 0px 5px  #222;
	border-radius: 10px;
}

#nextart,#prevart {
	max-width: 33% ;
}

#nextart:hover, #prevart:hover{
	box-shadow: 1px 1px 10px  #222;
}

#rss-img{
	max-height:1.5em; 
	border-radius: 8px; 
	color: orange;
}

@media screen and (max-width: 580px) {
	body {
		font-size: 16px;
		text-align: left;
	}
	.container img {
	max-height: 500px;
	}
	.grid-temp{
		display:grid;
		grid-template-areas:
			'header'
			'description'
			'picture'
			'list';
		grid-template-columns: 1fr;
	}
	.list-item{
		max-width: 80%;
	}
	.taglist a{
		margin: 0.7em;
	}
	a #nextart,a #prevart {
	margin-bottom: 2em;
	}
}
