<ul class="bookmark-list">
  <li>
    <a href="https://academyofideas.com/2012/11/nietzsche-and-the-death-of-god/">
      Nietzsche on God
    </a>
  </li>
  <br>
  <li>
    <a href="https://dergigi.com/2021/01/14/bitcoin-is-time/">
      Bitcoin is Time
    </a>
  </li>
  <li>
    <a href="https://dergigi.com/2022/10/02/bitcoin-is-digital-scarcity/">
      Bitcoin is Time
    </a>
  </li>
  <li>
    <a href="https://www.citadel21.com/bitcoin-and-the-american-west">
      Bitcoin is Time
    </a>
  </li>
</ul>